<div class="row">
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <h2>利用規約</h2>
    <div class="term">
      <li>本サービスは、Rails Tutorialでのアプリケーションを応用した筆者の学習のためのポートフォリオです。</li>
      <li>本サービスからメールを送信することはありませんので架空のメールアドレスでご登録いただけます。</li>
      <li>本サービスは予告なく終了することがございます。</li>
    </div>
  </div>
</div>
