<% provide(:title, "Edit") %>
<h2>ユーザー情報変更</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="pull-right">
        <a href="http://gravatar.com/emails">写真変更</a>
      </div>
      <div class="pull-right">
        <%= gravatar_for @user %>
      </div>
    </div>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <%= f.label :姓 %><br />
          <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :名 %><br />
          <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :ユーザーネーム %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <div>
          <%= f.label :自己紹介 %><br />
          <%= f.text_area :self_introduction, autofocus: true, class: 'form-control' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div>
          <%= f.label :パスワードを入力 %> <i>(※必須)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        <div>
          <%= f.submit "変更", class: "btn btn-primary submit col-md-2" %>
        </div>
      <% end %>
      <div class="pull-right">
        <%= link_to "パスワード変更", edit_password_path(current_user)  if current_user.provider.blank? %>
      </div>
      
      <div class="cancel_my_account">
        <h3>アカウント削除</h3>
        <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary submit col-md-2" %>
      </div>
    </div>
  </div>
</div>
<%= link_to "戻る", :back %>
