<% provide(:title, "Sign up") %>
<h2>ユーザー登録</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :名 %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :姓 %><br />
        <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :ユーザーネーム %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
  
      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: "btn btn-lg btn-primary submit" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>
