<% provide(:title, "Edit password") %>

<h2>パスワード変更</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url:update_password_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :新しいパスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :新しいパスワード（確認） %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :現在のパスワード %> <br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>

      <%= f.submit "変更", class: "btn btn-primary submit col-md-2" %>
    <% end %>
  </div>
</div>