<div class="modal-dialog">
  <div class="modal-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag @post.picture.url %>
        <div>
          <%= render 'shared/list_comment' %>
        </div>
      </div>
    </div>
  </div>
</div>