<div class="modal-dialog">
  <div class="modal-content">
    <div class="row">
      <div class="picture_comment col-md-8 col-md-offset-2">
        <div class="center">
        <%= image_tag @post.picture.url, width: "320px" %>
        </div>
        <div>
          <% if @post.comments.any? %>
            <%= render 'shared/list_comment' %>
          <% else %>
            <%= render plain: "コメントはありません" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
